<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request bin VPS</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascript/app.js" defer></script>
</head>
<body>
  <h1>Bin URL</h1>
  <div>
    <input value=<%= url %> type='text'></input>
  </div>
</body>
</html>