<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request bin VPS</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  <script src="/javascript/app.js" defer></script>
</head>
<body>
  <header>
    <img src="/images/seal_team_six.png" alt="seal_team_6" width="600">
  </header>
  <h1>Inspect HTTP Requests</h1>
  <div>
    <p>RequestBin gives you a URL that will collect requests made to it and let you inspect them in a human-friendly way.
      Use RequestBin to see what your HTTP client is sending or to inspect and debug webhook requests.</p>
    </div>
    <button>Create a RequestBin</button>
</body>
</html>